<%= form_for(@users_letter) do |f| %>
  <% if @users_letter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@users_letter.errors.count, "error") %> prohibited this users_letter from being saved:</h2>

      <ul>
      <% @users_letter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
