<h1>Listing users_letters</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users_letters.each do |users_letter| %>
      <tr>
        <td><%= link_to 'Show', users_letter %></td>
        <td><%= link_to 'Edit', edit_users_letter_path(users_letter) %></td>
        <td><%= link_to 'Destroy', users_letter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Letter', new_users_letter_path %>
