<h1>Browse by recipients</h1>

<% if @recipients.any? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Letters</th>
      </tr>
    </thead>
    <tbody>
      <% @recipients.each do |recipient| %>
        <tr>
          <td><%= link_to recipient.name, recipient %> <span class="label label-primary"><%= recipient.category %></span></td>
          <td><%= link_to pluralize(recipient.published_letters.count, "letter"), recipient_letters_path(recipient) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><i>No recipient yet.</i></p>
<% end %>
