<h1>Recipient's Profile</h1>
<p>
  <%= @recipient.name %> <span class="label label-primary"><%= @recipient.category %></span>
</p>
<p>
  Created at <%= @recipient.created_at.to_s %>
</p>
<p>
  Was sent <%= link_to pluralize(@recipient.published_letters.count, "letter"), recipient_letters_path(@recipient) %>
</p>
