<h1>Listing letters</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @letters.each do |letter| %>
      <tr>
        <td><%= link_to 'Show', letter %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
